.left-sidebar {
  height: 100%;
  display: flex;
  flex: 1;
  flex-direction: column;
  background-color: #262626;
  color: #ffffff;
  position: relative;
  box-shadow: 0px 0px 12px 2px #000;
  overflow: hidden;

  &__user {
    padding: 40px 0;

    &__profile-pic {
      display: flex;
      justify-content: center;

      &__wrapper {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 75px;
        height: 75px;
        border-radius: 50%;
        background-color: $black-500;

        >.icon {

        }
      }

    }

    &__username {
      font-family: 'roboto';
      text-align: center;
      margin-top: 20px;
    }
  }

  &__menu{
    list-style: none;
    padding: 0px;
    margin: 0;
    font-family: 'roboto';
    font-weight: 500;

    &__item{
      display: inline-block;
      width: 100%;
      text-align: left;
      border-left: 3px solid $black-400;
      padding: 9px 8px;
      display: flex;
      align-items: center;
      color: white;

      
      >.icon {
        padding-right: 8px;
      }

      &--disabled {
        opacity: 0.3;
      }

      &:hover {
        background-color: $black-500;
        border-left: 3px solid $red;
        text-decoration: none;
        color: white;
      }
    }
  }
}
