.top-nav {
  background-color: $light-bg;
  box-shadow: 0 0 10px 1px black;

  &__container {
    display: flex;
    justify-content: center;
  }

  &__search {
    display: flex;
    align-items: center;
    margin-top: 25px;
    background-color: #1f1f1f;
    border-radius: $base-border-radius;

    &__icon {
      padding-left: 12px;
    }

    &__input {
      width: 380px;
      background-color: #1f1f1f;
      border: none;
      padding: 16px 50px 16px 12px;
      color: #404040;
      font-family: $base-font;
      font-size: 14px;
    }
  }

  &__menu {
    list-style: none;
    display: flex;
    justify-content: center;
    padding: 0;
    margin: 0;

    &__item {
      font-family: $base-font;
      font-weight: 500;
      padding: 15px 30px;
      border-bottom: 2px solid #262626;
      margin-top: 5px;
      color: #8c8c8c;
      text-transform: uppercase;

      &:hover, &:focus, &--active {
        background: linear-gradient(#262626, #1f1f1f 50%);
        border-bottom: 2px solid #d32f2f;
        cursor: pointer;
        color: white;
        text-decoration: none;
        outline: none;
      }
    }
  }
}